@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Poiret+One&display=swap');

:root {
   --white: #cccccc;
   --blue: #1c1884;
   --purple: #523cc6;
   --orange: #f7820d;
   --yellow: #ffd605;
   --regular: 'Poiret One', sans-serif;
   --accent: 'Limelight', serif;
}

/* Accent Font */
.accent {
   font-family: var(--accent);
}

/* Regular Font */
.regular {
   font-family: var(--regular);
   font-weight: 900;
}

body {
   background-color: var(--white);
}

.navbar {
   display: flex;
   justify-content: space-between;
}

.logo-text {
   margin: .5em;
   font-size: 2em;
}

.nav-links {
   display: flex;
   list-style-type: none;
}

.nav-link {
   font-size: 1em;
   display: flex;
}

.nav-link a {
   color: var(--yellow);
   text-decoration: none;
   padding: 1.25em;
}

.nav-links a:hover {
   background-color: var(--yellow);
   color: var(--blue);
}

.nav-selected {
   background-color: var(--orange);
}

.nav-selected a {
   color: var(--blue);
}

.hero-section {
   height: 100vh;
   width: 100vw;
   display: flex; /* Fix later */
}

.container {
   margin: auto;
   width: 80vw;
}

.timeline {
   display: flex;
   justify-content: space-around;
   padding: 1em;
}

.card {
   width: 300px;
   border: var(--purple) 2px solid;
   border-radius: 0 0  15px 15px;
}

.card-photo {
   display: flex;
}

.card-caption {
   background-color: var(--blue);
   text-align: center;
   padding: .5em;
}

.card-text {
   padding: 1em;
}

.about, .hobbies {
   display: flex;
   padding: 1em;
}

.hobby-text, .hobby-photo {
   margin: 0 1em;
}

.hobbies-photo {
   display: flex;
}

.hobbies-photo img {
   border: var(--yellow) 6px groove;
}

.podcast {
   text-align: center;
   padding: 1em;
}

.podcast button {
   padding: .75em;
   margin: .5em;
   cursor: pointer;
   background-color: var(--purple);
   border-radius: 5px;
   color: var(--yellow);
}

.footer {
   width: 100vw;
   padding: .5em;
}

.font-blue {
   color: var(--blue);
}

.font-purple {
   color: var(--purple);
}

.font-yellow {
   color: var(--yellow);
}

.font-orange {
   color: var(--orange);
}

.bg-purple {
   background-color: var(--purple);
}

.bg-blue {
   background-color: var(--blue);
}

.bg-white {
   background-color: var(--white);
}

h1 {
   font-size: x-large;
}

h2 {
   font-size: larger;
}

h3 {
   font-size: large;
}

h4 {
   font-size: medium;
}

h5 {
   font-size: small;
}

h6 {
   font-size: smaller;
}


/* HERO SECTION */

.large-text {
   font-family: var(--accent);
   font-size: 100vh;
   -webkit-text-fill-color: var(--blue);
   text-shadow: -5px 5px 25px var(--yellow),
                        5px 5px 25px var(--yellow),
   				         5px -5px 25px var(--yellow),
   				         -5px -5px 25px var(--yellow);
}

.medium-text {
   font-family: var(--regular);
   font-weight: 900;
   font-size: 80vh;
   color: var(--blue);
   z-index: 40;
}

.small-text {
   font-family: var(--regular);
   font-weight: 900;
   font-size: 20vh;
}

.first {

}

.second {

}

.third {

}