@import url('https://fonts.googleapis.com/css2?family=Limelight&family=Poiret+One&display=swap');

:root {
   --white: #cccccc;
   --blue: #1c1884;
   --purple: #523cc6;
   --orange: #f7820d;
   --yellow: #ffd605;
   --regular: 'Poiret One', sans-serif;
   --accent: 'Limelight', serif;
}

/* Accent Font */
.accent {
   font-family: var(--accent);
}

/* Regular Font */
.regular {
   font-family: var(--regular);
   font-weight: 900;
}

/* Global Use Commands */
.font-blue {
   color: var(--blue);
}

.font-purple {
   color: var(--purple);
}

.font-yellow {
   color: var(--yellow);
}

.font-orange {
   color: var(--orange);
}

.bg-purple {
   background-color: var(--purple);
}

.bg-blue {
   background-color: var(--blue);
}

.bg-white {
   background-color: var(--white);
}

h1 {
   font-size: x-large;
}

h2 {
   font-size: larger;
}

h3 {
   font-size: large;
}

h4 {
   font-size: medium;
}

h5 {
   font-size: small;
}

h6 {
   font-size: smaller;
}

/* For extremely small screen devices (767px and below) */
@media only screen and (max-width: 767px) {
   .logo-text {
      font-size: 1.8em;
      margin: auto .25em;
      flex: 1;
   }

   .nav-links {
      text-align: right;
   }

   .nav-link {
      padding: .25em .5em;
   }

   .container {
      padding: .5em;
   }

   .about-photo img {
      max-width: 100%;
   }

   .foot-links {
      display: flex;
      justify-content: space-between;
   }

   .foot-link {
      padding: .5em;
   }

   .footer h6 {
      text-align: center;
      padding: .5em;
   }

}

/* Medium screen devices (768px and above) */
@media only screen and (min-width: 768px) {
   .logo-text {
      font-size: 2em;
      margin: auto .25em;
      flex: 1;
   }

   .nav-links {
      display: flex;
   }

   .nav-link {
      padding: 1.25em;
   }

   .container {
      padding: 1em;
   }

   .about-photo img {
      max-width: 20em;
      float: right;
      margin: 0 0 1em 1em ;
   }

   .hobbies-photo img, .about-photo img {
      border: var(--yellow) 6px groove;
      box-shadow: 0 5px 5px 5px rgba(0,0,0,0.2);
   }
   
   .foot-links {
      display: flex;
      justify-content: space-between;
   }

   .foot-link {
      padding: 1.25em;
   }

   .footer h6 {
      text-align: center;
      padding: .5em;
   }

}

/* Big screen devices (889px and above) */
@media only screen and (min-width: 889px) {
   
}

/* Extra big screen devices (1200px and above) */
@media only screen and (min-width: 1200px) {
   .container {
      width: 50%;
      margin: 0 auto;
   }

   .foot-links {
      width: 50%;
      margin: 0 auto;
   }

}

body {
   background-color: var(--white);
   width: 100vw;
}

.navbar {
   display: flex;
   justify-content: space-between;
}

.nav-link a, .foot-link a {
   color: var(--yellow);
   text-decoration: none;
   transition: background-color 0.5s ease-out;
}


.bio-text p {
   text-indent: 2em;
   margin: 1em 0;
}

.podcast {
   clear: both;
   text-align: center;
   padding: 1em;
   margin-bottom: 5em;
}

.podcast button {
   padding: .75em;
   margin: .5em;
   cursor: pointer;
   background-color: var(--purple);
   border-radius: 5px;
   color: var(--yellow);
}

.footer {
   width: 100%;
   position: fixed;
   bottom: 0;
}

.copyright {
   width: 100%;
}